<?xml version="1.0"?>
<Options>
	<Settings>
		<Master mute="0" volume="1" />
		<BGM mute="0" volume="1" />
		<SFX mute="0" volume="1" />
	</Settings>
	<SaveSlots>
		<s hasSaveFile="true" details="Level 1" />
		<s hasSaveFile="false" details="" />
		<s hasSaveFile="false" details="" />
		<s hasSaveFile="false" details="" />
	</SaveSlots>
</Options>
